{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Tshimega Molefe - CV</title>
  </head>

  <body>
    <header>
      <h1>Mr. Molefe</h1>
      <p>Software Engineer | Cape Town, South Africa</p>
      <p>Contact: +27-084-671-4897 | Email: tshimega.mol@gmail.com</p>
      <p>
        LinkedIn:
        <a href="https://www.linkedin.com/tshimega-molefe">LinkedIn Profile</a>
      </p>
      <p>
        Instagram:
        <a href="https://www.instagram.com/tshimegaolefe">Instagram Profile</a>
      </p>
      <link rel="stylesheet" type="text/css" href="globals.css" />
    </header>

    <section id="bio">
      <h2>Bio</h2>
      <p>
        Hello, I am Tshimega Molefe, a software engineer based in Cape Town,
        South Africa. I have a passion for developing full-stack web
        applications and mobile applications using technologies like NextJS,
        React, React Native, and more. I am motivated by the endless
        possibilities in the world of software development and strive to create
        innovative solutions.
      </p>
      <p>
        My skills and competencies include web and mobile development, using
        tools like VSCode, Python, Django, and Swift. I have a strong background
        in software engineering, and I enjoy staying up-to-date with the latest
        industry trends and best practices.
      </p>
      <p>
        My educational background includes a degree in Corporate Finance,
        Investments and Law from Wits University and continuous self-learning to
        keep my skills sharp. I have a proven track record in the tech startup
        industry and have worked on various exciting projects described below.
      </p>
    </section>

    <section id="education">
      <h2>Education</h2>
      <p>2019 - BCom Law, Wits University</p>
      <p>2023 - Software Engineering, Hyperion Dev</p>
    </section>

    <section id="experience">
      <h2>Work Experience</h2>
      <p>
        2022-Present - Software Engineer at Athena Technologies, Inc, Sandton
      </p>
      <p>2021-2021 - Corporate Finance Analyst at Gundo Group, Sandton</p>
      <p>2020-2020 - Junior Equity Analyst at Umthombo Wealth, Sandton</p>
    </section>

    <section id="projects">
      <h2>Projects</h2>
      <ul>
        <li>
          <a href="https://tshimegamolefe.com/read/studying-the-other"
            >My Blog - My poetry website built in nextjs</a
          >
        </li>
        <li>
          <a href="https://www.whoisthis.tech/"
            >My Portfolio - My portfolio webite build in nextjs</a
          >
        </li>
        <li><a href="https://athena-io.com/">Athena - Where I work</a></li>
        <li>
          <a href="https://usurpa.africa/"
            >Usurpa - A WEB3.0 art platform I helped build</a
          >
        </li>
      </ul>
    </section>

    <section id="blogs">
      <h2>Blogs</h2>
      <ul>
        <li>
          <a href="https://tshimegamolefe.com/read/studying-the-other"
            >3am in Murray</a
          >
        </li>
      </ul>
    </section>
  </body>
</html>
